body {
  width: 500px;
  margin: 0 auto;
}

h1 {
  text-align: center;

  &:first-letter {
    font-size: 2em;
    color: deepskyblue;
  }

}

div.mainContent {
  table.board {
    margin: 0 auto;
    border-collapse: collapse;

    td {
      text-align: center;
      border: 1px solid black;
      width: 40px;
      height: 40px;
      margin: 3px;

      &.mutable {
        font-weight: normal;
        font-size: 15px;
      }

      &.immutable {
        font-weight: bold;
        font-size: 18px;
      }

      &.level1 {
        background-color: #f49cde;
      }

      &.level2 {
        background-color: #f7b7e7;
      }

      &.level3 {
        background-color: #fce3f6;
      }

      &.top {
        border-top: 3px solid black;
      }

      &.right {
        border-right: 3px solid black;
      }

      &.left {
        border-left: 3px solid black;
      }

      &.bottom {
        border-bottom: 3px solid black;
      }
    }
  }
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: .3s;

  &.is-show {
    opacity: 1;
    visibility: visible;
  }

  .inner {
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 25px;
    transform: translate(-50%, -50%);
    padding: 30px;
    background-color: #fff;
    z-index: 2;
  }

  .numberSelector {
    .row {
      width: 100%;
      text-align: center;
    }

    .number {
      width: 70px;
      height: 70px;
      margin: 3px;
      background: #b1c9cc;
      border: none;
      border-radius: 100%;
      color: #fff;
      font-size: 30px;
    }

    .clear {
      width: 95%;
      height: 40px;
      background: #e8e8e8;
      margin: 10px 3px 0 3px;
      border: none;
      border-radius: 20px;
      color: #fff;
      font-size: 22px;
    }
  }

  .background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    z-index: 1;
    cursor: pointer;
  }
}
